<h1>Employee#edit</h1>
<div id='test_automation' name='Employee#edit'/>
<%= form_for @employee do |f| %>
    <table>
      <tr>
        <td><%= f.label :username, 'Username' %></td>
        <td><%= f.text_field :username %></td>
      </tr>
      <tr>
        <td><%= f.label :firstName, 'First name' %></td>
        <td><%= f.text_field :firstName %></td>
      </tr>
      <tr>
        <td><%= f.label :middleInitial, 'M' %></td>
        <td><%= f.text_field :middleInitial %></td>
      </tr>
      <tr>
        <td><%= f.label :lastName, 'Last name' %></td>
        <td><%= f.text_field :lastName %></td>
      </tr>
      <tr>
        <td><%= f.label :dateOfBirth, 'Date of birth' %></td>
        <td><%= f.text_field :dateOfBirth %></td>
      </tr>
      <tr>
        <td><%= f.label :dateOfEmployment, 'Date of employment' %></td>
        <td><%= f.text_field :dateOfEmployment %></td>
      </tr>
      <% if @employee.has_attribute? :encrypted_password %>
        <tr>
          <td><%= f.label :password, 'Password' %></td>
          <td><%= f.password_field :password %></td>
        </tr>
          <tr>
            <td><%= f.label :roles, 'Roles'%></td>
            <td>
              <%= select_tag(
                      :newroles,
                      options_for_select(EmployeeRole.pluck(:role), @employee.employee_roles.pluck(:role)),
                      { :multiple => true, :size => 5, :id => "emmployee_role" })
              %>
            </td>
          </tr>
      <% end %>
      <tr><td><%= f.submit %></td><td><%= link_to 'Delete', employee_path(@employee), method: :delete %></td></tr>
    </table>
    <%= @messages %>
    <%= f.hidden_field :bStatus, :value => 0 %>
<% end %>
