<h1>Employee#index</h1>
<div id='test_automation' name='Employee#index'/>

<table>
  <tr>
    <th>username</th>
    <th>First name</th>
    <th>MI</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Date of employment</th>
  </tr>
  <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.username%></td>
        <td><%= employee.firstName%></td>
        <td><%= employee.middleInitial%></td>
        <td><%= employee.lastName%></td>
        <td><%= employee.dateOfBirth%></td>
        <td><%= employee.dateOfEmployment%></td>
        <td><%= button_to 'Edit', edit_employee_path(employee), method: :get %></td>
      </tr>
  <% end %>
</table>
<p><%= @messages %></p>
